//========================================================
//                     Variables
//=========================================================

// Colors

$primary: #068bd1;
$secondary: #1f1f1f;
$secondary2: #3b3b3b;
$secondary3: #9d9d9d;
$secondary4: #3f3f3f;
$secondary5: #a7a7a7;
$secondary6: #6d6d6d;
$secondary7: #868686;
$secondary8: #f8f8f8;
$secondary9: #1e1e1e;
$secondary10:#16b468;
$secondary11:#1c9bf2;
$default: #fff;


// Fonts

$default-font: 'RobotoRegular', sans-serif;
$font: 'RobotoBold', sans-serif;
$font1: 'Good Vibes Pro', sans-serif;
$font2: 'RobotoMedium', sans-serif;
$font3: 'RobotoLight', sans-serif;
$font4: 'Times New Roman', sans-serif;
$font5: 'Roboto-Italic', sans-serif;
$font6: 'Roboto-LightItalic', sans-serif;


